---
title: 'Services | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'services/'
eleventyNavigation:
    key: Services
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Services</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services regular">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
            <picture>
                <img aria-hidden="true" decoding="async" src="/assets/svgs/service1.svg" alt="appliance" width="48"
                    height="48" />
            </picture>
            <h2>Stain Removal</h2>
            <p>Expert steam cleaning deep-cleans carpets, removing dirt and bacteria for a fresh, sanitized home.</p>
        </div>
        <div class="card">
            <picture>
                <img aria-hidden="true" decoding="async" src="/assets/svgs/service2.svg" alt="appliance" width="48"
                    height="48" />
            </picture>
            <h2>Deep Cleaning</h2>
            <p>Professional deep carpet cleaning tackles tough stains and buildup, making carpets look like new.

            </p>
        </div>
        <div class="card">
            <picture>
                <img aria-hidden="true" decoding="async" src="/assets/svgs/service3.svg" alt="appliance" width="48"
                    height="48" />
            </picture>
            <h2>Deodorizing</h2>
            <p>Advanced carpet deodorizing eliminates odors, leaving your space smelling clean and inviting.</p>
        </div>
        <div class="card">
            <picture>
                <img aria-hidden="true" decoding="async" src="/assets/svgs/service1.svg" alt="appliance" width="48"
                    height="48" />
            </picture>
            <h2>Steam Cleaning</h2>
            <p>Powerful carpet steam cleaning sanitizes and refreshes without harsh chemicals.</p>
        </div>
        <div class="card">
            <picture>
                <img aria-hidden="true" decoding="async" src="/assets/svgs/service1.svg" alt="appliance" width="48"
                    height="48" />
            </picture>
            <h2>Upholstery Cleaning</h2>
            <p>Specialized upholstery cleaning removes embedded dirt and allergens, rejuvenating your furniture.</p>
        </div>

    </section>

    <!-- ============================================ -->
    <!--                     CTA                      -->
    <!-- ============================================ -->
    <section id="hero-446">
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number"></span>
                <span class="cs-desc">15% discount for new customers!</span> <br>
                <a href="tel:780-394-9380" class="cs-button-solid1">AVAIL</a>
            </li>
        </ul>
    </section>

    <!-- ============================================ -->
    <!--               Before And After               -->
    <!-- ============================================ -->

    <section id="gallery-1897">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">Our Gallery</span>
                    <h2 class="cs-title">Witness The Difference and Our Results</h2>
                </div>
                <a class="cs-button-solid" href="">View All</a>
            </div>
            <!--Gallery-->
            <div class="cs-gallery">
                <div class="cs-item">
                    <p class="cs-item-text">Carpet Cleaning</p>
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_1-before.jpg">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_1-before.jpg">
                            <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_1-before.jpg" alt="carpet 1 before" width="305" height="400">
                        </picture>
                        <span class="cs-tag">Before</span>
                    </div>
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_1-after.jpg">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_1-after.jpg">
                            <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_1-after.jpg" alt="carpet 1 after" width="305" height="400">
                        </picture>
                        <span class="cs-tag">After</span>
                    </div>
                </div>
                <div class="cs-item">
                    <p class="cs-item-text">Carpet Cleaning</p>
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_2-before.jpg">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_2-before.jpg">
                            <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_2-before.jpg" alt="carpet 2 before" width="305" height="400">
                        </picture>
                        <span class="cs-tag">Before</span>
                    </div>
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_2-after.jpg">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_2-after.jpg">
                            <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_2-after.jpg" alt="carpet 2 after" width="305" height="400">
                        </picture>
                        <span class="cs-tag">After</span>
                    </div>
                </div>
                <div class="cs-item">
                    <p class="cs-item-text">Carpet Cleaning</p>
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_3-before.jpg">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_3-before.jpg">
                            <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_3-before.jpg" alt="carpet 3 before" width="305" height="400">
                        </picture>
                        <span class="cs-tag">Before</span>
                    </div>
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_3-after.jpg">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_3-after.jpg">
                            <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_3-after.jpg" alt="carpet 3 after" width="305" height="400">
                        </picture>
                        <span class="cs-tag">After</span>
                    </div>
                </div>
                <div class="cs-item">
                    <p class="cs-item-text">Carpet Cleaning</p>
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_4-before.jpg">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_4-before.jpg">
                            <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_4-before.jpg" alt="carpet 4 before" width="305" height="400">
                        </picture>
                        <span class="cs-tag">Before</span>
                    </div>
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_4-after.jpg">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_4-after.jpg">
                            <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_4-after.jpg" alt="gallery" width="305" height="400">
                        </picture>
                        <span class="cs-tag">After</span>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port1-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port1.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port1.jpg" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port4-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port4.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port4.jpg" alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port7-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port7.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port7.jpg" alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port2-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port2.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port2.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port5-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port5.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port5.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port8-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port8.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port8.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port3-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port3.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port3.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port6-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port6.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port6.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port9-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port9.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port9.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>

                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
            </div>
            <a href="/contact" class="cs-button-solid">Get Free Quote</a>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}