---
title: 'Services | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'commercial/'
eleventyNavigation:
    key: Commercial Services
    order: 3100
    parent: Services
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Services</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-1443">
        <div class="cs-container">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/commercial-cleaning-service.webp">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/commercial-cleaning-service.webp">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/commercial-cleaning-service.webp" alt="volunteers" width="650" height="600" aria-hidden="true">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Commercial Cleaning</span>
                <h2 class="cs-title">Expert Commercial Cleaning Services in Edmonton</h2>
                <p class="cs-text">
                    Keep your workspace clean and professional with our tailored Commercial Cleaning Services. Whether it’s an office, airbnb, or daycare, we create a spotless environment that reflects your business's values.
                </p>
                <ul class="cs-card-group">
                    <li class="cs-li">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Offices and Workspaces</h3>
                            <p class="cs-li-text">
                                Maintain productivity with a clean and organized workspace.
                            </p>
                        </div>
                    </li>
                    <li class="cs-li">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Airbnbs and Rentals</h3>
                            <p class="cs-li-text">
                                Leave a lasting impression on your guests with pristine accommodations.
                            </p>
                        </div>
                    </li>
                    <li class="cs-li">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Places of Worship</h3>
                            <p class="cs-li-text">
                                Respectful and thorough cleaning for community spaces.
                            </p>
                        </div>
                    </li>
                    <li class="cs-li">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Showrooms and Retail Spaces</h3>
                            <p class="cs-li-text">
                                Create an inviting space for your clients.
                            </p>
                        </div>
                    </li>
                    <li class="cs-li">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Schools and Daycares</h3>
                            <p class="cs-li-text">
                                Ensure a safe and hygienic environment for children.
                            </p>
                        </div>
                    </li>
                </ul>     
                <a href="" class="cs-button-solid">Donate Now</a>        
            </div>
        </div>
    </section>
                                

    <!-- ============================================ -->
    <!--                     CTA                      -->
    <!-- ============================================ -->

    <section id="cta-51">
        <div class="bespoke-container">
            <div class="bespoke-content">
                <h3 class="bespoke-title">15% discount for new customers!</h3>
                <a href="tel:587-335-2755" class="bespoke-button-solid">Avail</a>
            </div>
        </div>
        <!-- Background Image-->
        <picture class="bespoke-picture">
            <source media="(max-width: 600px)" srcset="{{client.domain}}/assets/images/cabinets2.jpg">
            <source media="(min-width: 601px)" srcset="{{client.domain}}/assets/images/cabinets2.jpg">
            <img loading="lazy" decoding="async" src="{{client.domain}}/assets/images/cabinets2.jpg" alt="cabinets" width="1920" height="1280" aria-hidden="true">
        </picture>
    </section>


    {% include 'components/cta.html' %}

{% endblock %}