---
title: 'YEG Carpet Cleaning Services - Edmonton'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags:
- sitemap # Ensure tags are formatted as a list, even for a single item
eleventyNavigation:
    key: Home
    order: 100
---


{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script defer>
    if (window.netlifyIdentity) {
        window
            .netlifyIdentity
            .on('init', (user) => {
                if (!user) {
                    window
                        .netlifyIdentity
                        .on('login', () => {
                            document.location.href = '/admin/';
                        });
                }
            });
    }
</script>

<!-- JSON Schema Markup -->
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero">
    <div class="cs-container">
        <div class="cs-flex-group">
            <span class="cs-topper">YEG Carpet Cleaning Services</span>
            <h1 class="cs-title">Steam Cleaning, Deep Cleaning, and More</h1>
            <p class="cs-text">
                Offering expert carpet cleaning, stain removal, deodorizing, and upholstery care to make your home or
                business shine. Experience a deeper clean with our trusted steam cleaning services in Edmonton.
            </p>
            <a href="/about" class="cs-button-solid">Explore More</a>
            <a href="/contact" class="cs-button-transparent">
                <img class="cs-img" loading="lazy" decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg" alt="play icon" width="17"
                    height="17" />
                Get in Touch
            </a>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/landing.jpg" alt="new home" width="2500"
            height="1667" loading="eager">
    </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services" class="services">
    <!-- Get Icons From flaticon.com -->
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="/assets/svgs/service1.svg" alt="appliance" width="48"
                height="48" />
        </picture>
        <h2>Steam Cleaning</h2>
        <p>Expert steam cleaning deep-cleans carpets, removing dirt and bacteria for a fresh, sanitized home.</p>
    </div>
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="/assets/svgs/service2.svg" alt="appliance" width="48"
                height="48" />
        </picture>
        <h2>Deep Cleaning</h2>
        <p>Professional deep carpet cleaning tackles tough stains and buildup, making carpets look like new.

        </p>
    </div>
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="/assets/svgs/service3.svg" alt="appliance" width="48"
                height="48" />
        </picture>
        <h2>Deodorizing</h2>
        <p>Advanced carpet deodorizing eliminates odors, leaving your space smelling clean and inviting.</p>
    </div>
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="/assets/svgs/service1.svg" alt="appliance" width="48"
                height="48" />
        </picture>
        <h2>Steam Cleaning</h2>
        <p>Powerful carpet steam cleaning sanitizes and refreshes without harsh chemicals.</p>
    </div>
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="/assets/svgs/service1.svg" alt="appliance" width="48"
                height="48" />
        </picture>
        <h2>Upholstery Cleaning</h2>
        <p>Specialized upholstery cleaning removes embedded dirt and allergens, rejuvenating your furniture.</p>
    </div>

</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets"
                    loading="lazy" width="400" height="563">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house"
                    loading="lazy" width="400" height="563">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">YEG Carpet Cleaning Services</h2>
            <p class="cs-text">
                We’re a small business specializing in steam cleaning, deep cleaning, deodorizing, stain removal, and
                upholstery cleaning. Trusted in Edmonton, we’re committed to providing top-notch service for your home
                or business.

            </p>
            <p class="cs-text">


            </p>
            <div class="cs-flex-group">
                <p class="cs-flex-p">
                    We believe a clean space isn't just about appearance—it's about comfort, health, and peace of mind.
                </p>
                <span class="cs-name">Kelvin Canlas & Benneth Esguerra</span>
                <span class="cs-job">Owner-Operator</span>
                <img class="cs-quote-icon" loading="lazy" decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136"
                    height="77" />
            </div>
            <a href="/about" class="cs-button-solid">More About Us</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1897">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Gallery</span>
                <h2 class="cs-title">Witness The Difference and Our Results</h2>
            </div>
            <a class="cs-button-solid" href="">View All</a>
        </div>
        <!--Gallery-->
        <div class="cs-gallery">
            <div class="cs-item">
                <p class="cs-item-text">Carpet Cleaning</p>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_1-before.jpg">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_1-before.jpg">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_1-before.jpg" alt="carpet 1 before" width="305" height="400">
                    </picture>
                    <span class="cs-tag">Before</span>
                </div>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_1-after.jpg">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_1-after.jpg">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_1-after.jpg" alt="carpet 1 after" width="305" height="400">
                    </picture>
                    <span class="cs-tag">After</span>
                </div>
            </div>
            <div class="cs-item">
                <p class="cs-item-text">Carpet Cleaning</p>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_2-before.jpg">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_2-before.jpg">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_2-before.jpg" alt="carpet 2 before" width="305" height="400">
                    </picture>
                    <span class="cs-tag">Before</span>
                </div>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_2-after.jpg">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_2-after.jpg">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_2-after.jpg" alt="carpet 2 after" width="305" height="400">
                    </picture>
                    <span class="cs-tag">After</span>
                </div>
            </div>
            <div class="cs-item">
                <p class="cs-item-text">Carpet Cleaning</p>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_3-before.jpg">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_3-before.jpg">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_3-before.jpg" alt="carpet 3 before" width="305" height="400">
                    </picture>
                    <span class="cs-tag">Before</span>
                </div>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_3-after.jpg">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_3-after.jpg">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_3-after.jpg" alt="carpet 3 after" width="305" height="400">
                    </picture>
                    <span class="cs-tag">After</span>
                </div>
            </div>
            <div class="cs-item">
                <p class="cs-item-text">Carpet Cleaning</p>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_4-before.jpg">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_4-before.jpg">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_4-before.jpg" alt="carpet 4 before" width="305" height="400">
                    </picture>
                    <span class="cs-tag">Before</span>
                </div>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_4-after.jpg">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_4-after.jpg">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_4-after.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">After</span>
                </div>
            </div>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--            Extra Content To Rank             -->
<!-- ============================================ -->

<section id="sbs-r">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house"
                    loading="lazy" width="400" height="560">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets"
                    loading="lazy" width="400" height="560">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <span class="cs-topper">SEO Ranking</span>
            <h2 class="cs-title">Professional Carpet Cleaning Services</h2>
            <p class="cs-text">
                Experience top-rated carpet cleaning services designed to remove tough stains, dirt, and allergens,
                leaving your carpets fresh and revitalized. Our expert team uses state-of-the-art steam cleaning
                techniques to ensure deep, thorough cleaning for both homes and businesses.
            </p>

            </p>
            <p class="cs-text">
                Our professional carpet cleaning doesn’t just stop at freshening your carpets. We go beyond by offering
                services such as upholstery cleaning, rug treatments, and deodorizing, providing a comprehensive
                approach to home and office care. With our meticulous attention to detail, we target deeply embedded
                dirt, stubborn stains, and lingering odors, ensuring your space feels clean, refreshed, and welcoming.

            </p>
            <a href="/blog" class="cs-button-solid">Read our Blog</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery">
    <div class="cs-container">
        <span class="cs-topper">Our Portfolio</span>
        <h2 class="cs-title">Residential and Commercial Carpet Cleaning</h2>
        <div class="cs-image-group">
            <!-- Row 1-->
            <div class="cs-row cs-row-1">
                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port1-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port1.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port1.jpg" alt="new hallway"
                        loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port4-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port4.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port4.jpg"
                        alt="new home construction" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port7-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port7.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port7.jpg"
                        alt="building a new wall" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Row 2 -->
            <div class="cs-row cs-row-2">
                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port2.jpg" alt="new kitchen"
                        loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port5-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port5.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port5.jpg"
                        alt="apartment addition" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port8-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port8.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port8.jpg"
                        alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Row 3 -->
            <div class="cs-row cs-row-3">
                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port3-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port3.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port3.jpg" alt="new kitchen"
                        loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port6-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port6.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port6.jpg"
                        alt="apartment addition" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port9-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port9.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port9.jpg"
                        alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                </picture>

            </div>
        </div>
        <a href="/projects" class="cs-button-solid">View Full Gallery</a>
    </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews">
    <div class="cs-container">
        <span class="cs-topper">Our Reviews</span>
        <h2 class="cs-title">Words From Our Customers</h2>
        <p class="cs-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl.
            Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo,
            ornare. Lorem ipsum dolor sit amet.
        </p>
        <ul class="cs-card-group">
            <!-- Review 1 -->
            <li class="cs-item">
                <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png" alt="profile picture"
                    width="80" height="80" />
                <p class="cs-item-p">
                    Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra
                    magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat.
                    Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                </p>
                <span class="cs-reviewer">
                    Jon Doe
                    <span class="cs-desc">Homeowner</span>
                </span>
                <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="stars" width="96"
                    height="16" />
            </li>
            <!-- Review 2 -->
            <li class="cs-item">
                <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png" alt="profile picture"
                    width="80" height="80" />
                <p class="cs-item-p">
                    Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra
                    magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat.
                    Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                </p>
                <span class="cs-reviewer">
                    Jane Doe
                    <span class="cs-desc">Homeowner</span>
                </span>
                <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="stars" width="96"
                    height="16" />
            </li>
        </ul>
        <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">Our Reviews</a>
    </div>
</section>

{% include 'components/cta.html' %}
{% endblock %}