---
title: 'YEG Carpet Cleaning Services - Edmonton'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags:
- sitemap # Ensure tags are formatted as a list, even for a single item
eleventyNavigation:
    key: Home
    order: 100
---


{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script defer>
    if (window.netlifyIdentity) {
        window
            .netlifyIdentity
            .on('init', (user) => {
                if (!user) {
                    window
                        .netlifyIdentity
                        .on('login', () => {
                            document.location.href = '/admin/';
                        });
                }
            });
    }
</script>

<!-- JSON Schema Markup -->
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- Usage Notes:
We made this stitch to overlap the section below it, so if there's a patterned texture or image background on the next section below, it will overlap on top of it. Other Stitches like this would have a white gap between the cards and the next section. In order to make Stitches like this work, we need to add a padding top on the section below it to counteract the overlap. Here's the padding top you need to add to the section below this one and all the breakpoints to add them so this design will work with whatever comes after it:

ON MOBILE (360px): add padding-top: (750/16rem); using LESS, or padding-top: calc(750 / 16 * 1rem); if you're using SCSS, or padding-top: 46.875rem; if you're just using vanilla CSS.

ON TABLET (768px): Reset to padding-top: (500/16rem); using LESS, padding-top: calc(500 / 16 * 1rem) for SCSS or padding-top: 31.25rem; for CSS.

ON DESKTOP (1024px): Reset to padding-top: (250/16rem); using LESS, padding-top: calc(250 / 16 * 1rem) for SCSS or padding-top: 15.625rem; for CSS.

Doing this will complete the overlapping "breaking the container" look.
-->

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1299">
    <div class="bespoke-container">
        <div class="bespoke-content">
            <span class="bespoke-topper">YEG Carpet Cleaning Services</span>
            <h1 class="bespoke-title">Residential, Commercial, and Carpet Cleaning Solutions</h1>
            <p class="bespoke-text">
                Offering expert carpet cleaning, deep cleaning, stain removal, deodorizing, upholstery care, and more to make your home or business shine. Experience a deeper clean with our trusted steam cleaning and cleaning services in Edmonton.
            </p>
            <a href="tel:587-335-2755" class="bespoke-button-solid">GET A FREE QUOTE</a>
            <h4 class="bespoke-title bespoke-subtitle">Our Services</h4>
        </div>
    </div>
    <div class="bespoke-container">
        <ul class="bespoke-card-group">
            <li class="bespoke-item">
                <a href="/services/" class="bespoke-link">
                    <img aria-hidden="true" decoding="async" src="/assets/svgs/service1.svg" class="bespoke-icon" alt="residential" width="48" height="48" />
                    <h3 class="bespoke-h3">Carpet Cleaning</h3>
                    <p class="bespoke-item-text">
                        <ul class="bespoke-ul">
                            <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Steam Cleaning</li>
                            <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Carpet Shampoo</li>
                            <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Deep Cleaning</li>
                            <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Stain Removal</li>
                            <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Deodorizing, Area Rug & Upholstery Cleaning</li>
                            <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Deodorizing</li>
                            <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Area Rug</li>
                            <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Upholstery Cleaning</li>
                        </ul>
                    </p>
                </a>
            </li>
            <li class="bespoke-item">
                <a href="/services/" class="bespoke-link">
                    <img aria-hidden="true" decoding="async" src="/assets/svgs/service2.svg" class="bespoke-icon" alt="residential" width="48" height="48" />
                    <h3 class="bespoke-h3">Commercial Cleaning</h3>
                    <p class="bespoke-item-text">
                        <ul class="bespoke-ul">
                            <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Offices</li>
                            <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Airbnb</li>
                            <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Places of Worship</li>
                            <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Showrooms</li>
                            <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Classrooms</li>
                            <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Schools Daycare</li>
                            <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Carpet Cleaning</li>
                        </ul>
                    </p>
                </a>
            </li>
            <li class="bespoke-item">
                <a href="/services/" class="bespoke-link">
                    <img aria-hidden="true" decoding="async" src="/assets/svgs/service3.svg" class="bespoke-icon" alt="residential" width="48" height="48" />
                    <h3 class="bespoke-h3">Residential Cleaning</h3>
                    <p class="bespoke-item-text">
                        <ul class="bespoke-ul">
                            <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Move In / Move Out</li>
                            <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Before / After Events</li>
                            <li class="bespoke-li"><img aria-hidden="true" decoding="async" src="/assets/svgs/check.svg" class="bespoke-check" alt="check" width="20" height="20"/>Senior Living Spaces</li>
                        </ul>
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <!--Floating Arrow-->
    <!--We wrap it in a picture element wrapper so we can use the wrapper as a box for it to live inside of instead of the section wrapper. This allows us to add overflow:hidden to the wrapper to cut off the graphic at the edge of the screen. If we added overflow:hidden to the section container it would clip the overlapping service cards. So we add this wrapper to allow us to clip only the graphic. -->
    <picture class="bespoke-floater-wrapper">
        <img class="bespoke-floater" aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-arrow-reversed.svg" alt="graphic" width="956" height="708">
    </picture>
    <!--Background Image, background image added in CSS at 1600px wide for parallax effect-->
    <picture class="bespoke-background">
        <!--Mobile Image-->
        <source media="(max-width: 1023px)" srcset="/assets/images/yeg_cc-hero-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 1024px)" srcset="/assets/images/yeg_cc-hero.webp">
        <img loading="lazy" decoding="async" src="/assets/images/yeg_cc-hero.webp" alt="buildings" width="1280" height="568">
    </picture>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
    <div class="bespoke-container">
        <!-- Left Image Section -->
        <div class="bespoke-left">
            <picture class="bespoke-picture bespoke-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/cabinets2.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets"
                    loading="lazy" width="400" height="563">
            </picture>
            <picture class="bespoke-picture bespoke-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/about-us.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/about-us.webp">
                <img aria-hidden="true" decoding="async" src="/assets/images/about-us.webp" alt="about us"
                    loading="lazy" width="400" height="563">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="bespoke-right">
            <span class="bespoke-topper">About Us</span>
            <h2 class="bespoke-title">YEG Carpet Cleaning Services</h2>
            <p class="bespoke-text">
                We’re a small business specializing in steam cleaning, deep cleaning, deodorizing, stain removal, and
                upholstery cleaning. Trusted in Edmonton, we’re committed to providing top-notch service for your home
                or business.

            </p>
            <p class="bespoke-text">


            </p>
            <div class="bespoke-flex-group">
                <p class="bespoke-flex-p">
                    We believe a clean space isn't just about appearance—it's about comfort, health, and peace of mind.
                </p>
                <span class="bespoke-name">Kelvin Canlas & Benneth Esguerra</span>
                <span class="bespoke-job">Owner-Operator</span>
                <img class="bespoke-quote-icon" loading="lazy" decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136"
                    height="77" />
            </div>
            <a href="/about/" class="bespoke-button-solid">More About Us</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--               Before And After               -->
<!-- ============================================ -->

<section id="gallery-1897">
    <div class="bespoke-container">
        <div class="bespoke-content">
            <div class="bespoke-flex">
                <span class="bespoke-topper">Our Gallery</span>
                <h2 class="bespoke-title">Witness The Difference and Our Results</h2>
            </div>
            <a class="bespoke-button-solid" href="">View All</a>
        </div>
        <!--Gallery-->
        <div class="bespoke-gallery">
            <div class="bespoke-item">
                <p class="bespoke-item-text">Carpet Cleaning</p>
                <div class="bespoke-picture-group">
                    <picture class="bespoke-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_1-before.jpg">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_1-before.jpg">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_1-before.jpg" alt="carpet 1 before" width="305" height="400">
                    </picture>
                    <span class="bespoke-tag">Before</span>
                </div>
                <div class="bespoke-picture-group">
                    <picture class="bespoke-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_1-after.jpg">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_1-after.jpg">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_1-after.jpg" alt="carpet 1 after" width="305" height="400">
                    </picture>
                    <span class="bespoke-tag">After</span>
                </div>
            </div>
            <div class="bespoke-item">
                <p class="bespoke-item-text">Carpet Cleaning</p>
                <div class="bespoke-picture-group">
                    <picture class="bespoke-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_2-before.jpg">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_2-before.jpg">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_2-before.jpg" alt="carpet 2 before" width="305" height="400">
                    </picture>
                    <span class="bespoke-tag">Before</span>
                </div>
                <div class="bespoke-picture-group">
                    <picture class="bespoke-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_2-after.jpg">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_2-after.jpg">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_2-after.jpg" alt="carpet 2 after" width="305" height="400">
                    </picture>
                    <span class="bespoke-tag">After</span>
                </div>
            </div>
            <div class="bespoke-item">
                <p class="bespoke-item-text">Carpet Cleaning</p>
                <div class="bespoke-picture-group">
                    <picture class="bespoke-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_3-before.jpg">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_3-before.jpg">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_3-before.jpg" alt="carpet 3 before" width="305" height="400">
                    </picture>
                    <span class="bespoke-tag">Before</span>
                </div>
                <div class="bespoke-picture-group">
                    <picture class="bespoke-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_3-after.jpg">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_3-after.jpg">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_3-after.jpg" alt="carpet 3 after" width="305" height="400">
                    </picture>
                    <span class="bespoke-tag">After</span>
                </div>
            </div>
            <div class="bespoke-item">
                <p class="bespoke-item-text">Carpet Cleaning</p>
                <div class="bespoke-picture-group">
                    <picture class="bespoke-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_4-before.jpg">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_4-before.jpg">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_4-before.jpg" alt="carpet 4 before" width="305" height="400">
                    </picture>
                    <span class="bespoke-tag">Before</span>
                </div>
                <div class="bespoke-picture-group">
                    <picture class="bespoke-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/carpet_4-after.jpg">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/carpet_4-after.jpg">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/carpet_4-after.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="bespoke-tag">After</span>
                </div>
            </div>
        </div>
    </div>
</section>
           
<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="bespoke-container">
        <div class="bespoke-content">
            <h3 class="bespoke-title">15% discount for new customers!</h3>
            <a href="tel:587-335-2755" class="bespoke-button-solid">Call Now</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="bespoke-picture">
        <source media="(max-width: 600px)" srcset="assets/images/cabinets2.jpg">
        <source media="(min-width: 601px)" srcset="assets/images/cabinets2.jpg">
        <img loading="lazy" decoding="async" src="assets/images/cabinets2.jpg" alt="cabinets" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>
                                
                                

<!-- ============================================ -->
<!--            Extra Content To Rank             -->
<!-- ============================================ -->

<section id="sbs-r">
    <div class="bespoke-container">
        <!-- Left Image Section -->
        <div class="bespoke-left">
            <picture class="bespoke-picture bespoke-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/construction.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house"
                    loading="lazy" width="400" height="560">
            </picture>
            <picture class="bespoke-picture bespoke-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/portfolio/gallery7.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/portfolio/gallery7.webp">
                <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/gallery7.webp" alt="cabinets"
                    loading="lazy" width="400" height="560">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="bespoke-right">
            <span class="bespoke-topper">Learn More From the Experts</span>
            <h2 class="bespoke-title">Professional Carpet Cleaning Services</h2>
            <p class="bespoke-text">
                Experience top-rated carpet cleaning services designed to remove tough stains, dirt, and allergens,
                leaving your carpets fresh and revitalized. Our expert team uses state-of-the-art steam cleaning
                techniques to ensure deep, thorough cleaning for both homes and businesses.
            </p>

            </p>
            <p class="bespoke-text">
                Our professional carpet cleaning doesn’t just stop at freshening your carpets. We go beyond by offering
                services such as upholstery cleaning, rug treatments, and deodorizing, providing a comprehensive
                approach to home and office care. With our meticulous attention to detail, we target deeply embedded
                dirt, stubborn stains, and lingering odors, ensuring your space feels clean, refreshed, and welcoming.

            </p>
            <a href="/blog" class="bespoke-button-solid">Read our Blog</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery">
    <div class="bespoke-container">
        <span class="bespoke-topper">Our Portfolio</span>
        <h2 class="bespoke-title">Residential and Commercial Carpet Cleaning</h2>
        <p class="bespoke-text">We offer Complete Residential and Commercial Cleaning Services, including move-in/move-out cleaning, office cleaning, Airbnb turnover services, and more.</p>
        <div class="bespoke-image-group">
            <!-- Row 1-->
            <div class="bespoke-row bespoke-row-1">
                <!-- To add more images, copy and paste this row's picture tags here in order from bespoke-picture-1 to bespoke-picture-3 and they will maintain the same layout-->
                <picture class="bespoke-picture bespoke-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/gallery1.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/gallery1.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/gallery1.webp" alt="gallery 1"
                        loading="lazy" width="400" height="560">
                </picture>
                <picture class="bespoke-picture bespoke-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/gallery4.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/gallery4.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/gallery4.webp"
                        alt="gallery 2" loading="lazy" width="400" height="560">
                </picture>
                <picture class="bespoke-picture bespoke-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/gallery7.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/gallery7.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/gallery7.webp"
                        alt="gallery 3" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Row 2 -->
            <div class="bespoke-row bespoke-row-2">
                <!-- To add more images, copy and paste this row's picture tags here in order from bespoke-picture-1 to bespoke-picture-3 and they will maintain the same layout-->
                <picture class="bespoke-picture bespoke-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/gallery2.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/gallery2.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/gallery2.webp" alt="gallery 4"
                        loading="lazy" width="400" height="560">
                </picture>
                <picture class="bespoke-picture bespoke-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/gallery5.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/gallery5.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/gallery5.webp"
                        alt="gallery 5" loading="lazy" width="400" height="560">
                </picture>
                <picture class="bespoke-picture bespoke-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/gallery8.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/gallery8.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/gallery8.webp"
                        alt="gallery 6" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Row 3 -->
            <div class="bespoke-row bespoke-row-3">
                <!-- To add more images, copy and paste this row's picture tags here in order from bespoke-picture-1 to bespoke-picture-3 and they will maintain the same layout-->
                <picture class="bespoke-picture bespoke-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/gallery3.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/gallery3.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port3.jpg" alt="gallery 7"
                        loading="lazy" width="400" height="560">
                </picture>
                <picture class="bespoke-picture bespoke-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/gallery6.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/gallery6.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/gallery6.webp"
                        alt="gallery 8" loading="lazy" width="400" height="560">
                </picture>
                <picture class="bespoke-picture bespoke-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/gallery9.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/gallery9.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/gallery9.webp"
                        alt="gallery 9" loading="lazy" width="400" height="560">
                </picture>

            </div>
        </div>
        <a href="/services/" class="bespoke-button-solid">View Full Gallery</a>
    </div>
</section>

<!-- ============================================ -->
<!--                  Why Choose                  -->
<!-- ============================================ -->

<section id="why-choose-1550">
    <div class="bespoke-container">
    <div id="bespoke-content">
        <h2 class="bespoke-title">Why Choose Us</h2>
    </div>                    
        <ul class="bespoke-card-group">
            <li class="bespoke-item">
                <div class="bespoke-icon-wrapper">
                    <img class="bespoke-icon" loading="lazy" decoding="async"
                            src="{{ client.domain }}/assets/svgs/satisfaction.svg" alt="icon"
                            width="48" height="48">
                </div>
                <div class="bespoke-flex">
                    <h2 class="bespoke-h2">Satisfaction Guaranteed</h2>
                    <p class="bespoke-item-text">
                        Not 100% happy? Please call and can make it right.
                    </p>
                </div>
            </li>
            <li class="bespoke-item">
                <div class="bespoke-icon-wrapper">
                    <img class="bespoke-icon" loading="lazy" decoding="async"
                            src="{{ client.domain }}/assets/svgs/local.svg"
                            alt="icon" width="48" height="48">
                </div>
                <div class="bespoke-flex">
                    <h2 class="bespoke-h2">YEG Local</h2>
                    <p class="bespoke-item-text">
                        Proudly Edmonton-owned business. Your trusted neighbor.
                    </p>
                </div>
            </li>
            <li class="bespoke-item">
                <div class="bespoke-icon-wrapper">
                    <img class="bespoke-icon" loading="lazy" decoding="async"
                            src="{{ client.domain }}/assets/svgs/value.svg" alt="icon"
                            width="48" height="48">
                </div>
                <div class="bespoke-flex">
                    <h2 class="bespoke-h2">Great Value</h2>
                    <p class="bespoke-item-text">
                        We respect your hard-earned money and deliver quality you can count on.
                    </p>
                </div>
            </li>
            <li class="bespoke-item">
                <div class="bespoke-icon-wrapper">
                    <img class="bespoke-icon" loading="lazy" decoding="async"
                            src="{{ client.domain }}/assets/svgs/outstanding.svg" alt="icon"
                            width="48" height="48">
                </div>
                <div class="bespoke-flex">
                    <h2 class="bespoke-h2">Outstanding Results</h2>
                    <p class="bespoke-item-text">
                        Skilled team, top-notch equipment, and Safe for your family and pets. Check our 5-star Facebook reviews!
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <picture class="bespoke-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/Why%20CHoose%20Us%203.png">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/Why%20CHoose%20Us%203.png">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/Why%20CHoose%20Us%203.png" alt="texture" width="1920" height="550">
    </picture>
</section>
                                

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1088">
    <div class="bespoke-container">
        <div class="bespoke-content">
            <span class="bespoke-topper">Testimonials</span>
            <h2 class="bespoke-title">Words From Our Customers</h2>
        </div>
        <ul class="bespoke-card-group">
            <li class="bespoke-item">
                <img class="bespoke-image" src="{{ client.domain }}/assets/images/profile.png" alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="bespoke-icon" src="{{ client.domain }}/assets/images/quotes.png" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="bespoke-item-text">
                    I hired Yeg Carpet cleaning to clean my Airbnb carpets. They were very professional, did an excellent job and I would definitely use their service again.
                </p>
                <div class="bespoke-flex">
                    <span class="bespoke-name">Amir</span>
                    <span class="bespoke-desc">November 6, 2024</span>
                    ⭐⭐⭐⭐⭐
                </div>
            </li>
            <li class="bespoke-item">
                <img class="bespoke-image" src="{{ client.domain }}/assets/images/profile.png" alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="bespoke-icon" src="{{ client.domain }}/assets/images/quotes.png" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="bespoke-item-text">
                    If you are looking for carpet cleaning services, I will definitely recommend this company. YEG CARPET CLEANING. They were very efficient to remove stains, dirt, debris, and allergens from carpets. Reliable, honest and affordable.
                </p>
                <div class="bespoke-flex">
                    <span class="bespoke-name">Relly</span>
                    <span class="bespoke-desc">November 4, 2024</span>
                    ⭐⭐⭐⭐⭐
                </div>
            </li>
            <li class="bespoke-item">
                <img class="bespoke-image" src="{{ client.domain }}/assets/images/profile.png" alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="bespoke-icon" src="{{ client.domain }}/assets/images/quotes.png" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="bespoke-item-text">
                    The quality of the work was impressive, and I was particularly pleased with the effectiveness of your cleaning machinery. The results exceeded my expectations, leaving my carpets looking refreshed and revitalized.
                </p>
                <div class="bespoke-flex">
                    <span class="bespoke-name">Emilio </span>
                    <span class="bespoke-desc">November 3, 2024</span>
                    ⭐⭐⭐⭐⭐
                </div>
            </li>
        </ul>
    </div>
</section>
                                

{% include 'components/cta.html' %}
{% endblock %}